<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单信息</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/admin.css?v=318"/>
    <link rel="stylesheet" href="/css/custom.form.css">
</head>
<body>
<div class="panel panel-default operation" hidden>
    <div class="panel-heading title"></div>
    <div class="layui-card-body">
        <form class="layui-form " action="" lay-filter="info" style="width: 700px;margin-top: 10px">
            <input name="id" hidden/>
            <div class="layui-form-item">
                <label class="layui-form-label">订单编号</label>
                <div class="layui-input-block">
                    <input type="orderNo" name="orderNo" placeholder="请输入订单编号" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">物料编号</label>
                <div class="layui-input-block">
                    <input type="materialNo" name="materialNo" placeholder="请输入物料编号" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">组数</label>
                <div class="layui-input-block">
                    <input type="groupsNumber" name="groupsNumber" placeholder="请输入组数" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">只数</label>
                <div class="layui-input-block">
                    <input type="unitNumber" name="unitNumber" placeholder="请输入只数" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">收货地址</label>
                <div class="layui-input-block">
                    <input type="receiptAddress"  readonly name="receiptAddress" placeholder="请输入收获地址" autocomplete="off" class="layui-input">
                    <div id="locationBtn" class="layui-icon layui-icon-location map-location"></div>

                    <!--隐藏两个控件存放获取的经纬度-->
                    <input id="longitude" hidden />
                    <input id="latitude" hidden />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">详细地址</label>
                <div class="layui-input-block">
                    <input type="detailedAddress" name="detailedAddress" placeholder="请输入详细地址" autocomplete="off" class="layui-input map-location-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">产品类型</label>
                <div class="layui-input-block">

                    <select id="productType" name="productType" lay-filter="select-type" th:with="type=${@sysDictService.getType('product_type')}">
                        <option value="0">请选择产品类型</option>
                        <option th:each="dict : ${type}" th:text="${dict.label}" th:value="${dict.value}"></option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">销售型号</label>
                <div class="layui-input-block">

                    <select id="salesModel" name="salesModel" lay-filter="select-type" th:with="type=${@sysDictService.getType('sales_model')}">
                        <option value="0">请选择销售型号</option>
                        <option th:each="dict : ${type}" th:text="${dict.label}" th:value="${dict.value}"></option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">专用纸箱描述</label>
                <div class="layui-input-block">
                    <input type="cartonDescription" name="cartonDescription" placeholder="请输入专用纸箱描述" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">客户类型</label>
                <div class="layui-input-block">
                    <select id="customerType" name="customerType" lay-filter="select-type" th:with="type=${@sysDictService.getType('customer_type')}">
                        <option value="0">请选择客户类型</option>
                        <option th:each="dict : ${type}" th:text="${dict.label}" th:value="${dict.value}"></option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">营销渠道</label>
                <div class="layui-input-block">
                    <select id="marketingChannel" name="marketingChannel" lay-filter="select-type" th:with="type=${@sysDictService.getType('marketing_channel')}">
                        <option value="0">请选择营销渠道</option>
                        <option th:each="dict : ${type}" th:text="${dict.label}" th:value="${dict.value}"></option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">交货日期</label>
                <div class="layui-input-block">
                    <input type="deliveryDate" name="deliveryDate" placeholder="请输入交货日期" class="layui-input" id="deliveryDate" lay-key="1">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">保存</button>
                    <button class="layui-btn layui-btn-primary" id="btn_cancel">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="table_div">
    <div id="searchParam" shiro:hasPermission="orderInfo:list">
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <input type="text" id="searchOrderNo" class="layui-input" autocomplete="off" placeholder="请输入订单编号">
            </div>

            <div class="layui-input-inline layui-form">
                <select id="searchSalesModel" name="searchSalesModel" lay-filter="select-type" th:with="type=${@sysDictService.getType('sales_model')}">
                    <option value="0">请选择销售型号</option>
                    <option th:each="dict : ${type}" th:text="${dict.label}" th:value="${dict.value}"></option>
                </select>
            </div>

            <div class="layui-input-inline" style="width: auto">
                <button class="layui-btn" onclick="search()" id="search">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button class="layui-btn layui-btn-export" id="export">
                    <i class="layui-icon layui-icon-download-circle"></i>
                    导出全部
                </button>
            </div>
        </div>

    </div>
    <table class="layui-table" id="showTable" lay-filter="showTable"></table>
</div>
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-add layui-btn-sm" lay-event="add" shiro:hasPermission="orderInfo:add">
            <i class="layui-icon layui-icon-add-1"></i>
            添加
        </button>
        <button class="layui-btn layui-btn-del layui-btn-sm" lay-event="batchDeleted" shiro:hasPermission="orderInfo:delete">
            <i class="layui-icon layui-icon-delete"></i>
            删除
        </button>
    </div>
</script>
<script type="text/html" id="tool">
    <a class="layui-btn layui-btn-edit layui-btn-xs" lay-event="edit" shiro:hasPermission="orderInfo:update">
        <i class="layui-icon layui-icon-edit"></i>
        编辑
    </a>
    <a class="layui-btn layui-btn-del layui-btn-xs" lay-event="del" shiro:hasPermission="orderInfo:delete">
        <i class="layui-icon layui-icon-delete"></i>
        删除
    </a>
</script>

</body>
</html>
<script src="/layui/layui.all.js"></script>
<script src="/js/core.util.js"></script>
<script>
    //获取token
    let token = CoreUtil.getData("access_token");
    //地址栏转义token中的#号
    let tokenQuery = token.replace("#", "%23");
    let tableIns1;
    let table = layui.table;
    let form = layui.form;
    let layer = layui.layer;
    let $ = jQuery = layui.jquery;
    let laydate = layui.laydate;

    //获取客户类型字典数据
    let customerTypes = "[[${@sysDictService.getType('customer_type')}]]".replace(/&quot;/g,"\"");
    //获取营销渠道字典数据
    let marketingChannels = "[[${@sysDictService.getType('marketing_channel')}]]".replace(/&quot;/g,"\"");
    //产品类型
    let productTypes = "[[${@sysDictService.getType('product_type')}]]".replace(/&quot;/g,"\"");
    //获取销售型号字典数据
    let salesModels = "[[${@sysDictService.getType('sales_model')}]]".replace(/&quot;/g,"\"");

    layui.config({
        base: '/layui-ext/'
    }).extend({
        locationX: 'location/locationX',
        location: 'location/location',
    }).use(['table', 'layer', 'laydate','location'], function () {

        //日期时间选择器
        laydate.render({
            elem: '#deliveryDate'
            ,type: 'datetime'
        });

        let location = layui.location;

        // 自己维护初始化标注。这里给的是天安门
        //
        let locationData = {lng:116.404,lat:39.915};

        let address = $("#receiptAddress").val()?$("#receiptAddress").val():'浙江省湖州市长兴县';

        location.render("#locationBtn",{
            type:0,
            apiType: "baiduMap",
            coordinate: "baiduMap",
            mapType: 0,
            zoom: 15,
            title: '区域定位',
            init: function(){
                return {
                    address:address,
                    longitude: $("#longitude").val()?$("#longitude").val():locationData.lng,
                    latitude: $("#latitude").val()?$("#latitude").val():locationData.lat
                };
            },
            success: function (data) {
                console.log(data);
                $("#longitude").val(data.lng);
                $("#latitude").val(data.lat);
                $(".operation input[name=receiptAddress]").val(data.address);
            }
        });

        //加载table
        tableIns1 = table.render({
            elem: '#showTable'
            , contentType: 'application/json'
            , headers: {"authorization": token}
            , page: true //开启分页
            , url: '/orderInfo/listByPage' //数据接口
            , method: 'POST'
            , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
                    "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
                }
            }
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left'},
                    // {field: 'id', title: '', sort: true},
                    {width: 150,field: 'orderNo', title: '订单编号', sort: true},
                    {width: 150,field: 'materialNo', title: '物料编号', sort: true},
                    {width: 100,field: 'groupsNumber', title: '组数', sort: true},
                    {width: 100,field: 'unitNumber', title: '只数', sort: true},
                    {width: 250,field: 'receiptAddress', title: '收获地址', sort: true},
                    {width: 250,field: 'detailedAddress', title: '详细地址', sort: true},
                    {width: 150,field: 'productType', title: '产品类型', sort: true,templet: function (item) {
                            //获取类型对应的字典label
                            return CoreUtil.selectDictLabel(productTypes, item.productType);
                        }
                    },
                    {width: 150,field: 'salesModel', title: '销售型号', sort: true,templet: function (item) {
                            //获取类型对应的字典label
                            return CoreUtil.selectDictLabel(salesModels, item.salesModel);
                        }
                    },
                    {width: 250,field: 'cartonDescription', title: '专用纸箱描述', sort: true},
                    {width: 150,field: 'customerType', title: '客户类型', sort: true,templet: function (item) {
                            //获取类型对应的字典label
                            return CoreUtil.selectDictLabel(customerTypes, item.customerType);
                        }
                    },
                    {width: 150,field: 'marketingChannel', title: '营销渠道', sort: true,templet: function (item) {
                            //获取类型对应的字典label
                            return CoreUtil.selectDictLabel(marketingChannels, item.marketingChannel);
                        }
                    },
                    {width: 200,field: 'deliveryDate', title: '交货日期', sort: true},
                    {width: 180, toolbar: "#tool", title: '操作',fixed: 'right'}
                ]
            ]
            , toolbar: '#toolbar'
        });


        //表头工具
        table.on('toolbar(showTable)', function (obj) {
            switch (obj.event) {
                case 'batchDeleted':
                    let checkStatus = table.checkStatus(obj.config.id);
                    let data = checkStatus.data;
                    if (data.length === 0) {
                        layer.msg("请选择要批量删除的列");
                    } else {
                        let ids = [];
                        $(data).each(function (index, item) {
                            ids.push(item.id);
                        });
                        tipDialog(ids);
                    }
                    break;
                case 'add':
                    $(".table_div").hide();
                    $(".operation").show();
                    $(".title").html("新增");
                    $(".operation input[name=id]").val("");
                    $(".operation input[name=orderNo]").val("");
                    $(".operation input[name=materialNo]").val("");
                    $(".operation input[name=groupsNumber]").val("");
                    $(".operation input[name=unitNumber]").val("");
                    $(".operation input[name=receiptAddress]").val("");
                    $(".operation input[name=detailedAddress]").val("");
                    $(".operation input[name=productType]").val("");
                    $(".operation input[name=salesModel]").val("");
                    $(".operation input[name=cartonDescription]").val("");
                    $(".operation input[name=customerType]").val("");
                    $(".operation input[name=marketingChannel]").val("");
                    $(".operation input[name=deliveryDate]").val("");
                    break;
            }
        });
        //列操作
        table.on('tool(showTable)', function (obj) {
            let data = obj.data;
            switch (obj.event) {
                case 'del':
                    let ids = [];
                    ids.push(data.id);
                    tipDialog(ids);
                    break;
                case 'edit':
                    $(".table_div").hide();
                    $(".operation").show();
                    $(".title").html("编辑");
                    $(".operation input[name=id]").val(data.id);
                    $(".operation input[name=orderNo]").val(data.orderNo);
                    $(".operation input[name=materialNo]").val(data.materialNo);
                    $(".operation input[name=groupsNumber]").val(data.groupsNumber);
                    $(".operation input[name=unitNumber]").val(data.unitNumber);
                    $(".operation input[name=receiptAddress]").val(data.receiptAddress);
                    $(".operation input[name=detailedAddress]").val(data.detailedAddress);
                    $(".operation input[name=cartonDescription]").val(data.cartonDescription);
                    $(".operation input[name=deliveryDate]").val(data.deliveryDate);

                    //渲染select 默认选中
                    if (!CoreUtil.isEmpty(data.productType)) {
                        $("#productType").find('option[value="'+data.productType+'"]').prop('selected',true);
                        form.render();
                    }
                    if (!CoreUtil.isEmpty(data.salesModel)) {
                        $("#salesModel").find('option[value="'+data.salesModel+'"]').prop('selected',true);
                        form.render();
                    }
                    if (!CoreUtil.isEmpty(data.customerType)) {
                        $("#customerType").find('option[value="'+data.customerType+'"]').prop('selected',true);
                        form.render();
                    }
                    if (!CoreUtil.isEmpty(data.marketingChannel)) {
                        $("#marketingChannel").find('option[value="'+data.marketingChannel+'"]').prop('selected',true);
                        form.render();
                    }
                    break;
            }
        });

        //导出
        $('#export').on('click', function () {
            //原先分页limit
            let exportParams = {
                limit: 10000,
                orderNo: $("#searchOrderNo").val(),
                salesModel: $("#searchSalesModel").val()
            };
            CoreUtil.sendPost("/orderInfo/listByPage", exportParams, function (res) {
                //初始化渲染数据
                if (res.data != null && res.data.records != null) {
                    table.exportFile(tableIns1.config.id, res.data.records, 'xls');
                }
            });
        });

        //删除
        let tipDialog = function (ids) {
            layer.open({
                content: "确定要删除么?",
                yes: function (index) {
                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                    CoreUtil.sendDelete("/orderInfo/delete", ids, function (res) {
                        layer.msg(res.msg, {time: 1000}, function () {
                            search();
                        });
                    });
                }
            });
        };

        //返回
        $("#btn_cancel").click(function () {
            $(".table_div").show();
            $(".operation").hide();
            return false;
        });

        //监听保存
        form.on('submit(submit)', function (data) {
            if (data.field.id === undefined || data.field.id === null || data.field.id === "") {
                CoreUtil.sendPost("/orderInfo/add", data.field, function (res) {
                    $(".table_div").show();
                    $(".operation").hide();
                    search();
                });
            } else {
                CoreUtil.sendPut("/orderInfo/update", data.field, function (res) {
                    $(".table_div").show();
                    $(".operation").hide();
                    search();
                });
            }

            return false;
        });
    });

    //执行查询
    function search() {
        //这里以搜索为例
        tableIns1.reload({
            where: { //设定异步数据接口的额外参数，任意设
                orderNo: $("#searchOrderNo").val(),
                salesModel: $("#searchSalesModel").val()
            }
            , page: {
                curr: 1 //重新从第 1 页开始
            }
        });
    }
</script>
